/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

.top-nav {
	overflow: hidden;
	background-color: black;
	height: 59px;
	width: 1440px;
	color: white;
	display: flex;
	justify-content: center;
	word-spacing: 7px;
	align-items: center;

}

.top-nav i {
	color: white;
	padding-right: 20px;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #93532F
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	text-decoration: none;

}

nav a {
	text-decoration: none;
	color: black;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters button {
	border-radius: 45px;
	/* color: #0E2F28; */
	background-color: white;
	color: #1D6154;
	height: 100%;
	width: 100%;
	border-color: #1D6154;

}

.filters {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	gap: 20px;
	width: 650px;
	height: 44px;
	margin-left: 175px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 125px;
	text-align: center;
	border-radius: 60px;
	height: 35px;

}

.footer {
	position: relative;
}

footer nav ul {
	/* position: fixed; */
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	width: 500px;
	height: 400px;
	background: white;
	border-radius: 2px;
}

.center h1 {
	text-align: center;
	padding: 0 0 2 0px 0;

}

.center form {
	padding: 0 60px;
	box-sizing: border-box;
}

form .txt_field {
	position: relative;
	/* border: 2px solid black; */
	box-shadow: 2px 2px 2px 2px #00000017;
	margin: 30px 0;
}

.txt_field input {
	width: 379px;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.txt_field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
	padding-bottom: 75px;
	color: #3D3D3D;
}

.txt_field span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #2691d9;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
	top: -5px;
	color: #2691d9;
}

.login {
	color: #1D6154;
	padding-bottom: 80px;

}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forgot {
	text-decoration: underline;
	color: #3D3D3D;
}

.edit {
	display: flex;
	justify-content: center;
}

.modal {
	display: block;
	/* flex-direction: column; */
	flex-wrap: wrap;
	gap: 0.4rem;
	width: 630px;
	/* padding: 1.3rem; */
	height: 690px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 7px;
	z-index: 2;
	align-items: center;
}

.modal .hidden {
	display: none;
}

.modal .flex {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-left: 75px;
	margin-right: 75px;


}



.modal-txt {
	color: black;
	align-items: center;
	text-decoration: none;
	padding-bottom: 45px;
	/* padding-top: 45px; */
	font-weight: normal;
	/* margin-left: 215px; */
	display: flex;
	margin-top: 75px;
}


.gallery img:hover {
	transform: scale(1.05);
}

.flex img {
	height: 102px;
	margin-bottom: 20px;
}

.modal img {
	height: 103px;

}

.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 75px;
	margin-right: 75px;
	margin-left: 75px;
	padding-left: 35px;

	gap: 7px;
	border-bottom: 1px solid #B3B3B3;
}



.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	z-index: 1;
  }

button {
	cursor: pointer;

	font-weight: 600;
}

.button-section {
	display: flex;
	margin-top: 4ch;
	justify-content: center;

}


.btn {
	display: inline-block;
	padding: 0.8rem 1.4rem;
	font-weight: 700;
	background-color: #1D6154;
	color: white;
	border-radius: 65px;
	/* text-align: center; */
	font-size: 1em;
	width: 193px;
	margin-top: 15px;

}

/* .btn-open {
	position: absolute;
	bottom: 150px;
} */

.btn-close {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 20px;
	margin-top: 20px;
	background: #eee;
	width: 24px;
	height: 24px;
}

.btn-edit {
	width: 53px;
	height: 16px;
	border: none;
	padding-top: 9px;
	background-color: white;
	margin-bottom: 45px;
}

.edit i {
	padding-top: 9px;
	margin-left: 20px;
}

.hidden {
	display: none;
}

.img-wrap {
	position: relative;
	display: inline-block;
}

.trash-icon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	cursor: pointer;
	color: white;
	background-color: black;
	width: 17px;
	height: 17px;
	align-content: center;
	border-radius: 5px;
	margin: 5px;
	padding-right: 1px;
}

.img-wrap:hover .trash-icon {
	/* z-index: 10; */
	background-color: rgb(5 0 0 / 75%);
}


.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1em;
	background: #f1f1f1;
	text-align: right;
}

.footer_txt {
	text-align: right;
}



/* footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
} */

/* .center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40% );
	width: 500px;
	height: 400px;
	background: white;
	border-radius: 2px;
	}
	.center h1 {
	text-align: center;
	padding: 0 0 2 0px 0;
	
	}
	.center form {
	padding: 0 60px;
	box-sizing: border-box;
	}

	form .txt_field{
		position: relative;
		border-bottom: 2px solid #adadad;
		margin: 30px 0;
		}
		.txt_field input {
		width: 100%;
		padding: 0 5px;
		height: 40px;
		font-size: 16px;
		border: none;
		background: none;
		outline: none;
		}
		.txt_field label{
		position: absolute;
		top: 50%;
		left: 5px;
		color:#adadad;
		transform: translateY(-50%);
		font-size: 16px;
		pointer-events: none;
		transition: .5s;
		}
		.txt_field span::beforef{
		content:'';
		position: absolute;
		top: 40px;
		left:0;
		width: 100%;
		height: 2px;
		background: #2691d9;
		}
		.txt_field input:focus ~ label,
		.txt_field input:valid ~ label{
		top: -5px;
		color: #2691d9;
		}
		

.login {
   color: #1D6154;
    
}

 form {
	display: flex;
	flex-direction: column;
    align-items: center;
} */